@tailwind base;
@tailwind components;
@tailwind utilities;
/* Mobile layout */
body {
    background-color: #F5F5F5;
    color: #001F1F;
}

.home-page nav ul li:hover {
    background-color: transparent !important;
    color: #f0f9ff !important;
}

.home-page h3 {
    color: black;
}

.home-page a {
    color: #d1d5db;
}

nav ul li {
    background-color: transparent;
}

header h1 {
    width: auto;
    padding: 0.5rem;
    margin: 1rem;
}
.siteimg {
    display: none;
}
.header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: #008080;
    color: white;
}

.hamburger-menu{
    margin: 1rem;
}

main {
    text-align: center ;

}
main aside {
    display: none;

}
nav, aside {
    display: none;
    background-color: transparent;
}
main article {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #008080; /* Teal border */
    background-color: #FFE7B8;
    color: #333;

}

.footer{
    background-color: #008080;
    color: white;
}

footer {
    padding: 1rem;
    background-color: #008080;
    color: white;
}

footer ul {
    display: none;
}

.site-img {
    width: 100%;
    height: auto;
}

.form
{
    display: grid;
    padding: 1em;
    border: 1px solid #4A90E2;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(2.5rem, auto);
    gap: 0.75rem;

}

.check_box
{
    grid-column: 1/7;
    grid-row: 1;
}
.form_label
{
    grid-column: 1/7;
    grid-row: 2;
}

.text
{
    grid-column: 1/5;
    grid-row: 3;
}

.submit
{
    grid-column: 5/7;
    grid-row: 3;
}



/* Desktop breakpoint */
@media (min-width: 1024px) {

    body{
        display: grid;
    }
    .siteimg{
        display: flex;
    }
    .header{

        position: sticky;
        top: 0;

        justify-content: flex-start;

    }
    .navigation {
        display: grid;
        position: sticky;
        top: 5.3rem;
        background-color: #4A90E2;

    }

    nav {
        display: revert;
    }


    nav ul li:hover{
        background-color: #FF7F50;

    }
    nav ul {
        display: flex;
        gap: 2rem;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
    }
    nav ul a{
        text-decoration: none;
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        max-width: 1000px;
        margin: 0 auto;
    }

    main aside {
        display: grid;
        grid-column: 3;
        grid-row: 1/2;
        margin: 1rem;

    }

    .el{
        display: grid;
        grid-template-columns: 40% 40%;
    }
    footer ul{
        display: grid;
        list-style: none;
    }

    footer ul a{
        text-decoration: none;
        color: #FF7F50;

    }

    aside section {
        padding: 1em;
        border: 1px solid #4A90E2;
        background-color: #FFE7B8;
    }

    .hamburger-menu{
        display: none;
    }

}





